<style type="text/css">
	
	body{
		background-color: cornflowerblue;
		color: white;
	}
	table{
		border-color: white;
		margin: 20px;

	}
	a{
		color:white;
		text-decoration: none;
	}

</style>
<center>
	<h3>Mask Detection</h3>
	<h4> Upload your png image to get detected</h4>
<form action="http://127.0.0.1:5000/object_detection" method="post" enctype="multipart/form-data">
	<input type="file" name="image" required accept="image/x-png"/>
	<input type="submit" name="submit">
</form>

<br/><h3><a href="https://www.linkedin.com/in/parth-nipun-dave-b2125011a/">A Parth Nipun Dave's Work</a></h3>
</center>